body {
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(to right, #643231, #341630, #335c72);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    background-image: url(https://i.postimg.cc/446NYwNP/gra-tlo3.jpg);
    width: 100%;
    height: 100vh;
    display: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0 0 300px 0;
  }
  
  h1 {
    margin: 0 auto;
    font-size: 75px;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
  }
  
  h2 {
    margin: 0 auto;
    font-size: 40px;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 30%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
  
  .luck {
    margin: 0 auto;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
  .luck span {
    color: gold;
    font-weight: 900;
  }
  
  .instruction {
    font-size: 30px;
    color: white;
  }
  
  button {
    margin: 60px 20px 60px 20px;
    width: 200px;
    height: 100px;
    background: none;
    border: solid 4px gold;
    color: gold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }

  button i::before {
    padding-right: 15px;
    font-size: 30px;
  }

  button:hover {
    background: gold;
    color: #341630;
    transition: all 0.5s;
    transform: scale(1.1);
  }
  
  #messages {
    color: white;
    font-size: 40px;
    margin: 30px 0 300px 0;
  }